.table-holder {
	width: 100%;
}

body {
	margin: 0;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.change-button{
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: rgb(8, 153, 250);
	color: #fff;
}